img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: calc(var(--container-width) + var(--container-offset) * 2);
  width: 100%;
  padding: 0 var(--container-offset);
}
