img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background: var(--bg-color);
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: calc(var(--container-width) + var(--container-offset) * 2);
  width: 100%;
  padding: 0 var(--container-offset);
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.heading2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--text-color-second);
}

.heading3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--text-color);
}

.paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color-second);
}

.button {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
  padding: 18px 20px;
  background: var(--button-bg-color);
  transition: all 0.3s ease;
}

._lock {
  overflow: hidden;
}

@media (hover: hover) {
  .button:hover {
    background: var(--hover-color);
  }

  .button:active {
    opacity: 0.75;
  }
}
