:root {
  --font-family: 'Mulish', sans-serif;
  --second-family: 'Oswald', sans-serif;

  --text-color: #ffffff;
  --bg-color: #222222;
  --hover-color: #ff3c3c;

  --container-width: 1440px;
  --container-offset: 20px;
}
