:root {
  --font-family: 'Mulish', sans-serif;
  --second-family: 'Oswald', sans-serif;

  --text-color: #ffffff;
  --text-color-second: #222222;
  --bg-color: #222222;
  --bg-color-second: #ffffff;
  --hover-color: #ff3c3c;

  --card-border-color: #222222;

  --button-bg-color: #222222;

  --faq-border-color: #ffffff;

  --container-width: 1400px;
  --container-offset: 20px;
}
